img
{
	width: 100px;
}
div{
}
.reserve_movie{
	
}
.reserve_theater{
}
.reserve_date{
}
.reserve_room{
	
}
.reserve_time{
}


label:hover, label:active, input:hover+label, input:active+label {
	
}

.selected{
	background: #b2362a;
	color: white;
}